@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap&subset=cyrillic');

body {
    margin: 0 auto;    
    max-width: 1000px;
    padding: 1em;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 3em;
}

a {
    color: #396;
}
